<div>
    <h2>
        <span jhiTranslate="projetJHipster2H2App.bien.home.title">Biens</span>
        <button class="btn btn-primary float-right jh-create-entity create-bien" [routerLink]="['/', { outlets: { popup: ['bien-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="projetJHipster2H2App.bien.home.createLabel">
            Create new Bien
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="biens">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rueNo"><span jhiTranslate="projetJHipster2H2App.bien.rueNo">Rue No</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="localite"><span jhiTranslate="projetJHipster2H2App.bien.localite">Localite</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="anneeConstruction"><span jhiTranslate="projetJHipster2H2App.bien.anneeConstruction">Annee Construction</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="nbPieces"><span jhiTranslate="projetJHipster2H2App.bien.nbPieces">Nb Pieces</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="libelle"><span jhiTranslate="projetJHipster2H2App.bien.libelle">Libelle</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="vendu"><span jhiTranslate="projetJHipster2H2App.bien.vendu">Vendu</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bien of biens ;trackBy: trackId">
                <td><a [routerLink]="['../bien', bien.id ]">{{bien.id}}</a></td>
                <td>{{bien.rueNo}}</td>
                <td>{{bien.localite}}</td>
                <td>{{bien.anneeConstruction | date:'mediumDate'}}</td>
                <td>{{bien.nbPieces}}</td>
                <td>{{bien.libelle}}</td>
                <td>{{bien.vendu}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../bien', bien.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="biens && biens.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
