
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h4 class="display-4">Les biens</h4>
    </div>
</div>
<div class="container">
    <div class="table-responsive" *ngIf="biens">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Rue No</span></th>
                <th><span>Localite</span></th>
                <th><span>Annee Construction</span></th>
                <th><span>Nb Pieces</span></th>
                <th><span>Libelle</span></th>
                <th><span>Type</span></th>
                <th><span>Vendu</span></th>
                <th><span>Photo</span></th>
                <th><span>Bouton</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let bien of biens ;trackBy: trackId">
                <td><a [routerLink]="['../bien', bien.id ]">{{bien.id}}</a></td>
                <td>{{bien.rueNo}}</td>
                <td>{{bien.localite}}</td>
                <td>{{bien.anneeConstruction | date:'mediumDate'}}</td>
                <td>{{bien.nbPieces}}</td>
                <td>{{bien.libelle}}</td>
                <td>{{bien.type}}</td>
                <td>{{bien.vendu}}</td>
                <td>
                    <a *ngIf="bien.photo" (click)="openFile(bien.photoContentType, bien.photo)">
                        <img [src]="'data:' + bien.photoContentType + ';base64,' + bien.photo" style="max-height: 30px;" alt="bien image"/>
                    </a>
                    <span *ngIf="bien.photo">{{bien.photoContentType}}, {{byteSize(bien.photo)}}</span>
                </td>
                <td>

                    <div class="row">

                        <div class="col-lg-3 col-md-2 col-sm-12" >
                            <button type="button" class="btn btn-success reserver" (click)="allerReservation()">Faire une visite</button>
                        </div>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="submit"
                                [routerLink]="['../bien', bien.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'bien/'+ bien.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
