
<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <h4 class="display-4">Les biens</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 ">
            <div class="slogan-section">
                <h2>
                    <span>photo</span>
                </h2>
            </div>
        </div>
        <!-- Afficher tous les inforation d'une moto -->
        <div class="col-lg-6 col-md-6 col-sm-12 ">


            <!-- le bouton pour accederà la page de réservation  -->
            <div class="row">
                <div class="col-lg-9 col-md-10 col-sm-12"></div>
                <div class="col-lg-3 col-md-2 col-sm-12" >
                    <button type="button" class="btn btn-success reserver" (click)="allerReservation()">Faire une visite</button>
                </div>
            </div>
        </div>
    </div>



</div>
