
<div *ngIf="client">
    <h2><span jhiTranslate="projetJHipster2H2App.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="projetJHipster2H2App.client.nom">Nom</span></dt>
        <dd>
            <span>{{client.nom}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.prenom">Prenom</span></dt>
        <dd>
            <span>{{client.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.adresse">Adresse</span></dt>
        <dd>
            <span>{{client.adresse}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.npa">Npa</span></dt>
        <dd>
            <span>{{client.npa}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.localite">Localite</span></dt>
        <dd>
            <span>{{client.localite}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.numTelephone">Num Telephone</span></dt>
        <dd>
            <span>{{client.numTelephone}}</span>
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.user">User</span></dt>
        <dd>
            {{client.user?.login}}
        </dd>
        <dt><span jhiTranslate="projetJHipster2H2App.client.bien">Bien</span></dt>
        <dd>
            <span *ngFor="let bien of client.biens let last = last">
                <a [routerLink]="['/bien', bien?.id ]">{{bien.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
