<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue sur la gestion des visites immoblières</h1>
        <p class="lead">Votre agence immoblière à votre service</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Vous êtes connecté en tant que "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si vous avez déjà de compte</span>
                <a class="alert-link" (click)="login()">Se connecter</a></div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous n'avez pas encore de compte?</span>
                <a class="btn btn-danger btn-rounded" routerLink="register"> Se créer un nouveau compte</a>
            </div>
        </div>

        <p>
            <b>
           Venez visiter les biens immobliers!
            </b>
        </p>
    </div>
</div>
