<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Bienvenue</h1>
        <p class="lead">Votre agence immoblière à votre service</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Vous êtes connecté en tant que "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Si vous n'avez pas de compte</span>
                <a class="alert-link" (click)="login()">inscrivez-vous</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Vous n'avez pas encore de compte?</span>
                <a class="btn btn-danger btn-rounded" routerLink="register"> Se créer un nouveau compte</a>
            </div>
        </div>

        <p>
           Venez visiter les biens !
        </p>




    </div>
</div>
